/*  RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #050505, #0a0a0a);
  color: #e0e0e0;
  padding-bottom: 40px;
}

/* HEADER */
.header {
  text-align: center;
  padding: 25px 10px;
  background: rgba(15, 15, 15, 0.85);
  border-bottom: 1px solid cyan;
  box-shadow: 0 0 10px rgba(0,255,255,0.2);
}

.header h1 {
  margin-bottom: 8px;
  font-size: 2rem;
  color: cyan;
  text-shadow: 0 0 10px cyan;
}

.header nav a {
  color: #ddd;
  margin: 0 12px;
  text-decoration: none;
  font-size: 1rem;
}

.header nav a:hover {
  color: cyan;
  text-shadow: 0 0 6px cyan;
}

/* SECTIONS */
.section {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  background: rgba(15, 15, 15, 0.8);
  padding: 25px;
  border-radius: 15px;
  border: 1px solid rgba(0,255,255,0.3);
  box-shadow: 0 0 15px rgba(0,255,255,0.2);
  text-align: center;
}

/* BUTTON */
.btn {
  padding: 10px 25px;
  border: none;
  background: cyan;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  color: black;
  transition: 0.3s;
  box-shadow: 0 0 10px cyan;
}

.btn:hover {
  transform: scale(1.05);
  background: #00ffff;
}

/* GRID  */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 15px;
  margin-top: 15px;
}

/*GALLERY IMAGES */
.gallery-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 12px rgba(0,255,255,0.15);
}

.gallery-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 18px cyan;
}

/*FADE ANIMATION */
.fade {
  opacity: 0;
  animation: fadeIn 1.2s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}
