/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

/* Navbar */
.navbar-brand {
  font-weight: bold;
  font-size: 20px;
}

/* Simple animation (W3Schools style) */
.fade {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Hero Section */
.hero {
  height: 65vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.btn-custom {
  border-radius: 20px;
  padding: 10px 20px;
}

/* Gallery */
.gallery-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.gallery-img:hover {
  opacity: 0.8;
}

/* Footer */
footer {
  background: #222;
  color: white;
  padding: 12px;
  text-align: center;
  margin-top: 40px;
}
